
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.div_login{
  border: 3px solid #f1f1f1;
  padding: 16px;
  margin: auto;
}

.div_secret_text{
  border: 3px solid #f1f1f1;
}

.div_secret {
  padding: 16px;
  margin: auto;
}

.div_file {
  padding: 16px;
  margin: auto;
}

.div_secret_message {
  padding: 16px;
  margin: auto;
}

.div_warning {
  padding: 16px;
  margin: auto;
}

.active-secrets{
  padding: 16px;
  margin: auto;
}

.div_header{
  text-align: center;
  margin: 24px 0 12px 0;
}

#content-wrap {
  padding-bottom: 10%;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit]{
  background-color: #004da0;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

input[type=checkbox]{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: auto;
}

.two_check {
  padding: 12px 20px;
  margin: 8px 0;
}

.two-Fa-Check{
  padding: 16px;
  margin: auto;
  font-weight: bold;
  font-size: xx-large;
}

.form_get_secret {
  display: grid;
}

.form_get_secret span{
  margin: auto;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=number] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-right: 50%;
}

button {
  background-color: #004da0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

button:disabled {
  cursor: not-allowed;
  background-color: #979797;
}

#secret-link {
  visibility: hidden;
}

.pass-label {
  background-color: #f44336;
  font-weight: bold;
  color: white;
  width: 100%;
  display: inherit;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.gone-message {
  background-color: #f44336;
  font-weight: bold;
  font-size: xx-large;
  color: white;
  width: 100%;
  display: inherit;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.warning_span {
  font-weight: bold;
  font-size: larger;
  margin: auto;
}

.img_logo {
  width: 20%;
  border-radius: 50%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b0c4de;
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
}

img {
  max-width: 100%;
  height: auto;
}

.gone-image {
  padding: 16px;
  margin: auto;
}

.gone-image img {
  max-height: 50px;
  width: auto;
}

.btn-svg {
  max-height: 50px;
  width: auto;
  background-color: #004da0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.gitlab-logo {
  max-width: auto;
  height: 15px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #004da0;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar-header {
  text-align: center;
  margin: 24px 0 12px 0;
}

.logoutBtn {
  background-color: #f44336;
  font-weight: bold;
  color: white;
}

.main-content{
  margin-left: 200px;
  padding: 1px 16px;
}

.li_link {
  display: grid;
  grid-template-columns: auto 10% 10% 20% 20% 10% 10% 10%;
}

.activate_btn{
  padding: 0;
  margin: 0;
}
.delete_btn {
  padding: 0;
  margin: 0;
  background-color: #f44336;
}

.footer-link {
  padding-left: 10px;
  padding-right: 10px;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover{
  color: black;
}

.version-info {
  text-align: right;
}

.gitlab-logo {
  max-height: 20px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  .main-content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@media screen and (min-width: 1000px) {
  .div_login {
    width: 50%;
  }
  .div_secret{
    width: 50%;
  }
  .div_file{
    width: 50%;
  }
  .div_secret_message {
    width: 50%;
  }
  .div_warning {
    width: 50%;
  }
  .gone-image{
    width: 50%;
  }
}